<%= form_with(model: budget) do |form| %>
  
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group  p-2">
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="field form-group  p-2">
    <%= form.text_field :amount, class: "form-control", placeholder: "Amount" %>
  </div>

  <div class="field form-group  p-2">
    <%= form.number_field :user_id, id: :user_id, class: "form-control", value: current_user.id, type: :hidden %>


  </div> 

  <div class="field form-group  p-2">
  <%= form.label 'Select Group: ' %>
  <select name="budget[group_id]">
    <% current_user.groups.each do |group| %>
      <option value=<%= group.id %>><%= group.name %></option>
    <% end %>
  </select>
</div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>


<% end %>
